@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: "relative";
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}
.banner{
  background-image: url('../assets/Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.imagesCon{
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
}

.imagesCon :nth-child(1){
  margin-top: 50px;
  margin-right: 50px;
}

.imagesCon :nth-child(2){
  height: 90%;
}
.creditCard{
  position: absolute;
  top: 25%;
  left: 25%;
}